
.video-header {
  position: relative;
  background-color: ;
  background-image: url(../images/header-bg.jpg);
}

.video-header .mdl-layout__header-row {
  padding: 0;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video-navigation-row {
  background-color: rgba(0, 0, 0, 0.08);
  text-transform: uppercase;
  height: 45px;
}

.video-navigation-row  .mdl-navigation {
  text-align: center;
  max-width: 900px;
  width: 100%;
}

.video-navigation-row .mdl-navigation__link {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 42px;
}

.video-header .mdl-layout__drawer-button {
    background-color: rgba(197, 197, 197, 0.44);
}

.video-navigation-row .is-active {
  position: relative;
  font-weight: bold;
}

.video-navigation-row .is-active:after {
  content: "";
  width: 70%;
  height: 2px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(255,64,129);
  left: 15%;
}


img.article-image {
  width: 100%;
  height: auto;
}

.video-max-width {
  max-width: 1000px;
  margin: auto;
}

.video-copy {
  max-width: 700px;
}

.video-card .mdl-card__title {
  padding-bottom: 0;
}

.no-padding {
  padding: 0;
}

.no-left-padding{
  padding-left: 0;
}

.no-bottom-padding {
  padding-bottom: 0;
}

.padding-top {
  padding: 10px 0 0;
}

.video-share-btn {
  position: relative;
  float: right;
  top: -4px;
}

.demo-card-event > .mdl-card__actions {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.video-contact .mdl-textfield {
  width: 100%;
}

.video-contact form {
  max-width: 700px;
  margin: auto;
}

.video-title{
  color: black;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.filter-bar{
  width:100%;
  height:25%;
}

.filter-feature{
  margin:0;
}

.search-bar{
  width:100%;
}

#filter{
  position:relative;
  display: block;
  width:100%;
  min-width: 840px;
}

.type-list{
  padding:15px 0 0 60px;
  padding-inline-start: 40px;
}

.label{
  display: inline-block;
  list-style: none;
  margin: 0 25px 15px -15px;
  float: left;
  color: rgb(158,158,158);
}

.options{
  display: inline-block;
  list-style: none;
  margin:0;
  padding:0;
  margin-bottom: 15px;
  margin-right: 10px;
}

.options:hover{
  cursor: pointer;
  color: #c1d9e6;
}

.selected{
  color: #c1d9e6;
}

.information-page{
  width:100%;
  height:100%;
  position:fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top:0;
  z-index: 3;
}

#information-page{
  background-color: red;
  width:100%;
  height:100%;
}

.info-left{
  min-width: 235px;
  min-height: 329px;
}

.info-right{
  min-width: 700px;
  height:329px;
  min-height: 329px;
  padding:0 10px;
  overflow: hidden;
}

.player{
  width:100%;
}

.play-button:hover{
  color: #c1d9e6;
}

.pages{
  margin:auto;
  width:auto;
}

.pages-button{
  margin:10px 5px 20px 5px;
}

.index{
  margin-top: 25px;
  margin-bottom: 15px;
}

.index_title{
  padding-left: 8px;
  width:100%;
}

.disappear{
  display: none;
}

.s-bar-appear{
  display: none;
}

.left{
  float:left!important;
}

.right{
  float: right!important;
  padding-right: 8px;
}
.mdh-expandable-search {
  margin: 0 50px;
  align-items: center;
  justify-content: center;
}

.mdh-expandable-search form {
  max-width: 600px;
}

.mdh-expandable-search,
.mdh-expandable-search form,
.mdh-expandable-search input {
  /* Cross browser flex-grow */
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.mdh-expandable-search,
.mdh-expandable-search form {
  /* Cross browser inline-flex */
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

/* Position search icon */
.mdh-expandable-search .material-icons {
  position: relative;
  right: -40px;
  margin-left: -24px; /* Remove the blank space left behind by the icon being relatively positioned */
}

.mdh-expandable-search input {
  outline: none;
  border: none;
  font-size: 16px;
  color: #FFFFFF;
  background-color:#c1d9e6;
  padding: 0px 35px 0px 70px;
  height: 40px;
  line-height: 40px; /* TODO: This was recommended for cross browser compatability of input height, check if its actually needed in modern browsers */
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
}


/* Bug fix: https://github.com/google/material-design-lite/issues/1078
 * To much padding on the left of header when the menu button is hidden */
@media screen and (min-width: 851px) {
  .mdl-layout__header-row {
    padding: 0 40px 0 40px;
  }
}

/* Bug fix for badges being in the wrong location */
.mdl-badge[data-badge]:after {
  right: -7px;
  top: -8px;
}

@media screen and (max-width: 1024px) {
  .s-bar-gone{
    display: none;
  }
  .s-bar-appear{
    display: flex;
  }
}
